// utilities are things that we probably want to reuse throughout our project.

.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 0.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }
